<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Website Match</string>
                <key>footerText</key>
                <string>Any text you put in here. It will match any websites with that text in their URL.

For example "example.com" would match "example.com", "test.example.com" and "example.com/page".
"cool" would match "cool.com", "example.com/cool" and "apple.com/coolstuff"

Leaving this blank will disable this rule.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>default</key>
                <string></string>
                <key>key</key>
                <string>websiteMatch</string>
                <key>placeholder</key>
                <string>example.com</string>
                <key>defaults</key>
                <string>com.wilsonthewolf.webshadesites</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>footerText</key>
                <string>Disabling this causes the tweak to always be dark mode instead of following your system's dark mode.
If you are on iOS 12 or lower this will have no effect.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>key</key>
                <string>followSystemTheme</string>
                <key>label</key>
                <string>Follow System Theme</string>
                <key>defaults</key>
                <string>com.wilsonthewolf.webshadesites</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Engine</string>
                <key>footerText</key>
                <string>The engine is responsible for changing the theme. Different engines have their quirks.

The advanced engine is the default engine. It is smarter with how to color stuff and *usually* looks better. It is, however,  more resource intensive so slower devices might have noticeable slowdown with this engine. It also has some incompatibility with sites, which might cause some weird issues, including not staying light theme, and receiving compatibility errors on sites.

The basic engine is a much simpler engine. It uses less resources and is more suitable on lower end devices. It also works better with some sites. It does have the issue where if a site is already dark, it will make it light instead.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSegmentCell</string>
                <key>default</key>
                <integer>0</integer>
                <key>key</key>
                <string>engine</string>
                <key>validValues</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                    <integer>2</integer>
                </array>
                <key>validTitles</key>
                <array>
                    <string>Advanced</string>
                    <string>Basic</string>
                    <string>Off</string>
                </array>
                <key>defaults</key>
                <string>com.wilsonthewolf.webshadesites</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Display Settings</string>
                <key>footerText</key>
                <string>These adjust how the background looks.
It's recommended to use the "Default Sliders" option but if you want to you can enable "Custom Sliders" and then it will use your values.
Hint: If you want an OLED mode try setting the contrast to 200 and if you want totally white mode set it to -200.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSegmentCell</string>
                <key>default</key>
                <integer>0</integer>
                <key>key</key>
                <string>sliders</string>
                <key>validValues</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                </array>
                <key>validTitles</key>
                <array>
                    <string>Default Sliders</string>
                    <string>Custom Sliders</string>
                </array>
                <key>defaults</key>
                <string>com.wilsonthewolf.webshadesites</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Brightness</string>
                <key>footerText</key>
                <string>The brightness controls how bright everything is.
Setting it to 100 is recommended.
Lower values makes everything darker and higher values makes everything lighter.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>min</key>
                <integer>0</integer>
                <key>max</key>
                <integer>200</integer>
                <key>default</key>
                <integer>100</integer>
                <key>showValue</key>
                <true/>
                <key>key</key>
                <string>brightness</string>
                <key>defaults</key>
                <string>com.wilsonthewolf.webshadesites</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Contrast</string>
                <key>footerText</key>
                <string>The contrast controls how much difference the background and foreground are.
Setting it to 100 or higher is recommended.
Lower values makes everything greyer and higher values makes everything blacker.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>min</key>
                <integer>-200</integer>
                <key>max</key>
                <integer>200</integer>
                <key>default</key>
                <integer>100</integer>
                <key>showValue</key>
                <true/>
                <key>key</key>
                <string>contrast</string>
                <key>defaults</key>
                <string>com.wilsonthewolf.webshadesites</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Grayscale</string>
                <key>footerText</key>
                <string>The grayscale controls how much colour there is.
Setting it to 0 is recommended.
Increasing this value causes the page to become more gray.
It does not affect images.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>min</key>
                <integer>0</integer>
                <key>max</key>
                <integer>100</integer>
                <key>default</key>
                <integer>0</integer>
                <key>showValue</key>
                <true/>
                <key>key</key>
                <string>grayscale</string>
                <key>defaults</key>
                <string>com.wilsonthewolf.webshadesites</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Sepia</string>
                <key>footerText</key>
                <string>The sepia controls how warm the page is.
Setting it to 0 is recommended.
Negative values makes everything bluer and positive values makes everything yellowier.
The basic engine needs a positive sepia value.</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>min</key>
                <integer>-200</integer>
                <key>max</key>
                <integer>200</integer>
                <key>default</key>
                <integer>0</integer>
                <key>showValue</key>
                <true/>
                <key>key</key>
                <string>sepia</string>
                <key>defaults</key>
                <string>com.wilsonthewolf.webshadesites</string>
            </dict>
        </array>
        <key>title</key>
        <string>Site Settings</string>
    </dict>
</plist>
